In [9]:
from imblearn.over_sampling import SMOTE
from sklearn.datasets import make_classification
from collections import Counter

import pandas as pd

In [10]:
df = pd.read_csv("preprocessed_datasets/dropped_nan.csv")
df.head()

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,1.0
1,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,1.0
2,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,1.0
3,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,1.0
4,11,2,16.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,3.0,1,12.0,12.0,1.0

In [11]:
target = 'DC201'
RANDOM_STATE = 42

In [12]:
features = [x for x in df.columns if x not in target] ## Removing our target variable

In [14]:
# imbalanced dataset
X, y = df[features], df[target]

In [15]:
# Summarize class distribution
print(Counter(y))

Counter({1.0: 16603, 0.0: 2231})

In [16]:
# Apply SMOTE
sm = SMOTE(random_state=42)
X_resampled, y_resampled = sm.fit_resample(X, y)

# Summarize new class distribution
print(Counter(y_resampled))

Counter({1.0: 16603, 0.0: 16603})

In [21]:
X_resampled.nunique()

DC024        83
DC025         2
DC205      3193
DC206      1699
DC207      2699
DC208      3907
DC209      4477
DC210      4336
DC211      4777
DC212       901
DC213      4460
DC214      6625
DC215      3984
DC216      8557
DC217         5
DC219         2
DC220     13457
DC226      4364
DC230a     4563
DC230b     1684
DC232      3078
DC232b      301
DC235      7404
DC237      1106
DC237a     1543
DC237b      655
DC237c     1658
DC237d      564
DC237e       34
DC237f     5878
DC241         1
DC242      4108
DC244      6133
DC246      6337
DC252      7778
DC270a        5
DC109      3588
DC142a    11705
dtype: int64