In [26]:
import pandas as pd
import numpy as np

In [27]:
mapped_df = pd.read_csv('mapped_data-v2.csv')
mapped_df.head()

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,0,1,6.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0,1.0,60.0,1.0
1,0,1,13.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1,3.0,70.0,1.0
2,0,1,2.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,3,0.0,75.0,1.0
3,0,1,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,NaN,1.0,0.0,1.0,0,0.0,85.0,1.0
4,0,1,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,65.0,1.0

In [28]:
target = 'DC201'
mapped_df = mapped_df.dropna(subset=target)

In [29]:
NUMERICAL_DATA = ['DC216', 'DC220', 'DC142a']
CATEGORICAL_DATA = [column for column in mapped_df.columns if column != target and column not in NUMERICAL_DATA]

numerical_df = mapped_df[NUMERICAL_DATA].copy()
categorical_df = mapped_df[CATEGORICAL_DATA].astype('category').copy()
target_df = mapped_df[target].copy()

In [30]:
merged_df = pd.concat([numerical_df, categorical_df, target_df], axis=1)
merged_df

,DC216,DC220,DC142a,DC024,DC025,DC205,DC206,DC207,DC208,DC209,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC201
0,1.0,80.0,60.0,0,1,6.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,1.0,1.0
1,2.0,44.0,70.0,0,1,13.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1,3.0,1.0
2,2.0,35.0,75.0,0,1,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,3,0.0,1.0
3,3.0,79.0,85.0,0,1,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,NaN,1.0,0.0,1.0,0,0.0,1.0
4,2.0,37.0,65.0,0,1,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,1.0,21.0,9.0,33,0,7.0,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,NaN,0.0,0.0,0.0,0,2.0,1.0
35969,1.0,41.0,12.0,33,0,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0.0,1.0
35970,2.0,52.0,48.0,33,0,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0,0.0,1.0
35971,2.0,58.0,39.0,33,0,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0.0,1.0
35972,1.0,31.0,40.0,33,0,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,1.0

In [31]:
merged_df_missing = pd.DataFrame(merged_df.isna().sum().loc[merged_df.isna().sum() > 0], columns=['missing_data_count'])
merged_df_missing['missing_data_type'] = merged_df.dtypes
merged_df_missing['missing_data_percentage'] = merged_df_missing['missing_data_count'] / len(merged_df)
merged_df_missing = merged_df_missing.sort_values(by='missing_data_percentage', ascending=False)
merged_df_missing

        missing_data_count missing_data_type  missing_data_percentage
DC235                10444          category                 0.290353
DC242                 5374          category                 0.149402
DC232b                3024          category                 0.084070
DC232                 3024          category                 0.084070
DC230b                3009          category                 0.083653
DC241                  612          category                 0.017014
DC213                   77          category                 0.002141
DC142a                  52           float64                 0.001446
DC207                   43          category                 0.001195
DC210                   41          category                 0.001140
DC216                   39           float64                 0.001084
DC237b                  35          category                 0.000973
DC237a                  35          category                 0.000973
DC237f                  35          category                 0.000973
DC237e                  35          category                 0.000973
DC237d                  35          category                 0.000973
DC237c                  35          category                 0.000973
DC212                   24          category                 0.000667
DC211                   24          category                 0.000667
DC206                   21          category                 0.000584
DC237                   19          category                 0.000528
DC209                   18          category                 0.000500
DC215                   14          category                 0.000389
DC252                   14          category                 0.000389
DC208                   13          category                 0.000361
DC230a                  11          category                 0.000306
DC205                   10          category                 0.000278
DC109                   10          category                 0.000278
DC214                    9          category                 0.000250
DC246                    9          category                 0.000250
DC226                    6          category                 0.000167
DC220                    4           float64                 0.000111
DC244                    4          category                 0.000111

In [32]:
mapped_df_missing = pd.DataFrame(mapped_df.isna().sum().loc[mapped_df.isna().sum() > 0], columns=['missing_data_count'])
mapped_df_missing['missing_data_type'] = mapped_df.dtypes
mapped_df_missing['missing_data_percentage'] = mapped_df_missing['missing_data_count'] / len(mapped_df)
mapped_df_missing = mapped_df_missing.sort_values(by='missing_data_percentage', ascending=False)
mapped_df_missing

        missing_data_count missing_data_type  missing_data_percentage
DC235                10444           float64                 0.290353
DC242                 5374           float64                 0.149402
DC232                 3024           float64                 0.084070
DC232b                3024           float64                 0.084070
DC230b                3009           float64                 0.083653
DC241                  612           float64                 0.017014
DC213                   77           float64                 0.002141
DC142a                  52           float64                 0.001446
DC207                   43           float64                 0.001195
DC210                   41           float64                 0.001140
DC216                   39           float64                 0.001084
DC237a                  35           float64                 0.000973
DC237f                  35           float64                 0.000973
DC237e                  35           float64                 0.000973
DC237d                  35           float64                 0.000973
DC237c                  35           float64                 0.000973
DC237b                  35           float64                 0.000973
DC212                   24           float64                 0.000667
DC211                   24           float64                 0.000667
DC206                   21           float64                 0.000584
DC237                   19           float64                 0.000528
DC209                   18           float64                 0.000500
DC215                   14           float64                 0.000389
DC252                   14           float64                 0.000389
DC208                   13           float64                 0.000361
DC230a                  11           float64                 0.000306
DC109                   10           float64                 0.000278
DC205                   10           float64                 0.000278
DC214                    9           float64                 0.000250
DC246                    9           float64                 0.000250
DC226                    6           float64                 0.000167
DC220                    4           float64                 0.000111
DC244                    4           float64                 0.000111

In [33]:
import miceforest as mf

# Create kernels.  # Mice Forest
kernel = mf.ImputationKernel(
  data=merged_df,
  save_all_iterations=True,
  random_state=1343
)
# Run the MICE algorithm for 5 iterations on each of the datasets
kernel.mice(5,verbose=True)
#print(kernel)
completed_dataset_mf = kernel.complete_data(dataset=0, inplace=False)

/home/codespace/.python/current/lib/python3.10/site-packages/miceforest/ImputationKernel.py:371: UserWarning: [DC205,DC213,DC214,DC215,DC217,DC226,DC237,DC237a,DC237b,DC237c,DC237d,DC237e,DC237f,DC241,DC109] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

Initialized logger with name mice 1-5
Dataset 0
1  | DC220 | DC244 | DC226 | DC246 | DC214 | DC205 | DC109 | DC230a | DC208 | DC215 | DC252 | DC209 | DC237 | DC206 | DC212 | DC211 | DC237f | DC237e | DC237d | DC237c | DC237b | DC237a | DC216 | DC210 | DC207 | DC142a | DC213 | DC241 | DC230b | DC232b | DC232 | DC242 | DC235
2  | DC220 | DC244 | DC226 | DC246 | DC214 | DC205 | DC109 | DC230a | DC208 | DC215 | DC252 | DC209 | DC237 | DC206 | DC212 | DC211 | DC237f | DC237e | DC237d | DC237c | DC237b | DC237a | DC216 | DC210 | DC207 | DC142a | DC213 | DC241 | DC230b | DC232b | DC232 | DC242 | DC235
3  | DC220 | DC244 | DC226 | DC246 | DC214 | DC205 | DC109 | DC230a | DC208 | DC215 | DC252 | DC209 | DC237 | DC206 | DC212 | DC211 | DC237f | DC237e | DC237d | DC237c | DC237b | DC237a | DC216 | DC210 | DC207 | DC142a | DC213 | DC241 | DC230b | DC232b | DC232 | DC242 | DC235
4  | DC220 | DC244 | DC226 | DC246 | DC214 | DC205 | DC109 | DC230a | DC208 | DC215 | DC252 | DC209 | DC237 | DC206 | DC212 | DC211 | DC237f | DC237e | DC237d | DC237c | DC237b | DC237a | DC216 | DC210 | DC207 | DC142a | DC213 | DC241 | DC230b | DC232b | DC232 | DC242 | DC235
5  | DC220 | DC244 | DC226 | DC246 | DC214 | DC205 | DC109 | DC230a | DC208 | DC215 | DC252 | DC209 | DC237 | DC206 | DC212 | DC211 | DC237f | DC237e | DC237d | DC237c | DC237b | DC237a | DC216 | DC210 | DC207 | DC142a | DC213 | DC241 | DC230b | DC232b | DC232 | DC242 | DC235

In [34]:
pd.DataFrame(completed_dataset_mf).head(15)

,DC216,DC220,DC142a,DC024,DC025,DC205,DC206,DC207,DC208,DC209,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC201
0,1.0,80.0,60.0,0,1,6.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,1.0,1.0
1,2.0,44.0,70.0,0,1,13.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1,3.0,1.0
2,2.0,35.0,75.0,0,1,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,3,0.0,1.0
3,3.0,79.0,85.0,0,1,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0,0.0,1.0
4,2.0,37.0,65.0,0,1,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,1.0
5,1.0,36.0,12.0,0,1,6.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0,1.0,1.0
6,3.0,45.0,60.0,0,1,13.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1,3.0,0.0
7,4.0,69.0,96.0,0,1,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,4,0.0,1.0
8,1.0,31.0,12.0,0,1,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,1.0
9,1.0,31.0,40.0,0,1,9.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2,6.0,1.0
10,1.0,57.0,75.0,0,1,2.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,3,0.0,1.0
11,1.0,39.0,70.0,0,1,6.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,2,1.0,1.0
12,1.0,22.0,42.0,0,1,13.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1,3.0,0.0
13,1.0,31.0,40.0,0,1,13.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,3.0,1.0
14,2.0,36.0,57.0,0,1,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,4,0.0,1.0

In [35]:
print("original")

for column in CATEGORICAL_DATA:
    print(column)
    print(mapped_df[column].value_counts())
    print()

original
DC024
DC024
11    3513
14    3015
12    2701
18    1856
1     1743
0     1609
30    1290
26    1279
10    1262
17    1122
29    1071
22    1067
15    1043
27     945
7      879
25     841
5      833
9      822
2      810
31     763
16     719
19     674
21     648
3      648
6      580
8      531
13     517
4      492
33     472
28     465
20     463
24     453
23     431
32     413
Name: count, dtype: int64

DC025
DC025
0    19116
1    16854
Name: count, dtype: int64

DC205
DC205
2.0     25223
13.0     3576
7.0      3066
6.0      2815
9.0      1262
17.0       18
Name: count, dtype: int64

DC206
DC206
1.0    34514
0.0     1435
Name: count, dtype: int64

DC207
DC207
0.0    29128
1.0     6799
Name: count, dtype: int64

DC208
DC208
1.0    30450
0.0     5507
Name: count, dtype: int64

DC209
DC209
1.0    20473
0.0    15479
Name: count, dtype: int64

DC210
DC210
0.0    24192
1.0    11737
Name: count, dtype: int64

DC211
DC211
1.0    27266
0.0     8680
Name: count, dtype: int64

DC212
DC212
0.0    31180
1.0     4766
Name: count, dtype: int64

DC213
DC213
9.0     16034
11.0    11691
4.0      4523
10.0     1642
1.0      1540
5.0       226
12.0      111
7.0        56
8.0        49
13.0       21
Name: count, dtype: int64

DC214
DC214
14.0    19358
15.0     8058
13.0     3605
6.0      1177
12.0     1117
11.0      963
1.0       477
17.0      428
7.0       385
4.0       147
16.0      126
9.0        67
18.0       41
5.0         8
8.0         4
Name: count, dtype: int64

DC215
DC215
8.0     17849
10.0    12671
9.0      3359
12.0      740
1.0       592
11.0      429
13.0      167
2.0        96
6.0        22
4.0        15
14.0        9
5.0         7
Name: count, dtype: int64

DC217
DC217
4    17720
2    13022
1     3228
3     1028
5      970
0        2
Name: count, dtype: int64

DC219
DC219
0    30354
1     5616
Name: count, dtype: int64

DC226
DC226
1.0     23010
7.0      8993
4.0      2937
11.0      601
2.0       201
0.0       141
6.0        59
8.0        13
3.0         4
5.0         4
9.0         1
Name: count, dtype: int64

DC230a
DC230a
0.0    28989
1.0     3990
2.0     2489
4.0      286
3.0      205
Name: count, dtype: int64

DC230b
DC230b
1.0    32163
0.0      798
Name: count, dtype: int64

DC232
DC232
1.0    30738
0.0     2208
Name: count, dtype: int64

DC232b
DC232b
0.0    32743
1.0      203
Name: count, dtype: int64

DC235
DC235
2.0    8811
0.0    8478
1.0    8237
Name: count, dtype: int64

DC237
DC237
1.0    24604
0.0    11333
2.0       14
Name: count, dtype: int64

DC237a
DC237a
1.0    23822
0.0    12099
2.0       14
Name: count, dtype: int64

DC237b
DC237b
0.0    35723
1.0      198
2.0       14
Name: count, dtype: int64

DC237c
DC237c
0.0    33385
1.0     2536
2.0       14
Name: count, dtype: int64

DC237d
DC237d
0.0    35318
1.0      603
2.0       14
Name: count, dtype: int64

DC237e
DC237e
0.0    35909
2.0       14
1.0       12
Name: count, dtype: int64

DC237f
DC237f
0.0    28893
1.0     7028
2.0       14
Name: count, dtype: int64

DC241
DC241
0.0    30662
1.0     3488
2.0     1204
3.0        4
Name: count, dtype: int64

DC242
DC242
1.0    25302
0.0     5294
Name: count, dtype: int64

DC244
DC244
0.0    22793
1.0    13173
Name: count, dtype: int64

DC246
DC246
0.0    22313
1.0    13648
Name: count, dtype: int64

DC252
DC252
1.0    18704
0.0     9791
4.0     4601
2.0     2289
3.0      571
Name: count, dtype: int64

DC270a
DC270a
0    10280
1     7564
2     6520
3     5905
4     5701
Name: count, dtype: int64

DC109
DC109
0.0    25223
2.0     3066
1.0     2815
3.0     2381
6.0     1262
7.0      847
4.0      251
5.0       97
8.0       18
Name: count, dtype: int64

In [36]:
print('imputated')

for column in CATEGORICAL_DATA:
    print(column)
    print(completed_dataset_mf[column].value_counts())
    print()

imputated
DC024
DC024
11    3513
14    3015
12    2701
18    1856
1     1743
0     1609
30    1290
26    1279
10    1262
17    1122
29    1071
22    1067
15    1043
27     945
7      879
25     841
5      833
9      822
2      810
31     763
16     719
19     674
21     648
3      648
6      580
8      531
13     517
4      492
33     472
28     465
20     463
24     453
23     431
32     413
Name: count, dtype: int64

DC025
DC025
0    19116
1    16854
Name: count, dtype: int64

DC205
DC205
2.0     25230
13.0     3578
7.0      3066
6.0      2815
9.0      1263
17.0       18
Name: count, dtype: int64

DC206
DC206
1.0    34534
0.0     1436
Name: count, dtype: int64

DC207
DC207
0.0    29167
1.0     6803
Name: count, dtype: int64

DC208
DC208
1.0    30459
0.0     5511
Name: count, dtype: int64

DC209
DC209
1.0    20478
0.0    15492
Name: count, dtype: int64

DC210
DC210
0.0    24223
1.0    11747
Name: count, dtype: int64

DC211
DC211
1.0    27285
0.0     8685
Name: count, dtype: int64

DC212
DC212
0.0    31201
1.0     4769
Name: count, dtype: int64

DC213
DC213
9.0     16071
11.0    11718
4.0      4529
10.0     1648
1.0      1541
5.0       226
12.0      111
7.0        56
8.0        49
13.0       21
Name: count, dtype: int64

DC214
DC214
14.0    19363
15.0     8060
13.0     3605
6.0      1177
12.0     1118
11.0      964
1.0       477
17.0      428
7.0       385
4.0       147
16.0      126
9.0        67
18.0       41
5.0         8
8.0         4
Name: count, dtype: int64

DC215
DC215
8.0     17852
10.0    12678
9.0      3361
12.0      741
1.0       592
11.0      430
13.0      167
2.0        96
6.0        22
4.0        15
14.0        9
5.0         7
Name: count, dtype: int64

DC217
DC217
4    17720
2    13022
1     3228
3     1028
5      970
0        2
Name: count, dtype: int64

DC219
DC219
0    30354
1     5616
Name: count, dtype: int64

DC226
DC226
1.0     23013
7.0      8995
4.0      2938
11.0      601
2.0       201
0.0       141
6.0        59
8.0        13
3.0         4
5.0         4
9.0         1
Name: count, dtype: int64

DC230a
DC230a
0.0    28995
1.0     3992
2.0     2491
4.0      287
3.0      205
Name: count, dtype: int64

DC230b
DC230b
1.0    34661
0.0     1309
Name: count, dtype: int64

DC232
DC232
1.0    32857
0.0     3113
Name: count, dtype: int64

DC232b
DC232b
0.0    35719
1.0      251
Name: count, dtype: int64

DC235
DC235
0.0    12472
1.0    12266
2.0    11232
Name: count, dtype: int64

DC237
DC237
1.0    24622
0.0    11334
2.0       14
Name: count, dtype: int64

DC237a
DC237a
1.0    23856
0.0    12100
2.0       14
Name: count, dtype: int64

DC237b
DC237b
0.0    35758
1.0      198
2.0       14
Name: count, dtype: int64

DC237c
DC237c
0.0    33417
1.0     2539
2.0       14
Name: count, dtype: int64

DC237d
DC237d
0.0    35352
1.0      604
2.0       14
Name: count, dtype: int64

DC237e
DC237e
0.0    35944
2.0       14
1.0       12
Name: count, dtype: int64

DC237f
DC237f
0.0    28923
1.0     7033
2.0       14
Name: count, dtype: int64

DC241
DC241
0.0    31145
1.0     3516
2.0     1305
3.0        4
Name: count, dtype: int64

DC242
DC242
1.0    29748
0.0     6222
Name: count, dtype: int64

DC244
DC244
0.0    22797
1.0    13173
Name: count, dtype: int64

DC246
DC246
0.0    22318
1.0    13652
Name: count, dtype: int64

DC252
DC252
1.0    18712
0.0     9794
4.0     4603
2.0     2290
3.0      571
Name: count, dtype: int64

DC270a
DC270a
0    10280
1     7564
2     6520
3     5905
4     5701
Name: count, dtype: int64

DC109
DC109
0.0    25230
2.0     3066
1.0     2815
3.0     2383
6.0     1263
7.0      847
4.0      251
5.0       97
8.0       18
Name: count, dtype: int64

In [37]:
completed_dataset_mf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35970 entries, 0 to 35972
Data columns (total 39 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DC216   35970 non-null  float64
 1   DC220   35970 non-null  float64
 2   DC142a  35970 non-null  float64
 3   DC024   35970 non-null  category
 4   DC025   35970 non-null  category
 5   DC205   35970 non-null  category
 6   DC206   35970 non-null  category
 7   DC207   35970 non-null  category
 8   DC208   35970 non-null  category
 9   DC209   35970 non-null  category
 10  DC210   35970 non-null  category
 11  DC211   35970 non-null  category
 12  DC212   35970 non-null  category
 13  DC213   35970 non-null  category
 14  DC214   35970 non-null  category
 15  DC215   35970 non-null  category
 16  DC217   35970 non-null  category
 17  DC219   35970 non-null  category
 18  DC226   35970 non-null  category
 19  DC230a  35970 non-null  category
 20  DC230b  35970 non-null  category
 21  DC232   35970 non-null  category
 22  DC232b  35970 non-null  category
 23  DC235   35970 non-null  category
 24  DC237   35970 non-null  category
 25  DC237a  35970 non-null  category
 26  DC237b  35970 non-null  category
 27  DC237c  35970 non-null  category
 28  DC237d  35970 non-null  category
 29  DC237e  35970 non-null  category
 30  DC237f  35970 non-null  category
 31  DC241   35970 non-null  category
 32  DC242   35970 non-null  category
 33  DC244   35970 non-null  category
 34  DC246   35970 non-null  category
 35  DC252   35970 non-null  category
 36  DC270a  35970 non-null  category
 37  DC109   35970 non-null  category
 38  DC201   35970 non-null  float64
dtypes: category(35), float64(4)
memory usage: 2.6 MB

In [38]:
completed_dataset_mf.to_csv('mapped-v2_imputed.csv', index=False)