In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
df = pd.read_csv("MF.csv")
df.shape

(35973, 40)

In [7]:
df['DC201'].value_counts()

DC201
1.0    32401
0.0     3572
Name: count, dtype: int64

In [3]:
df= df.drop('id',axis=1)

In [4]:
df.shape

(35973, 39)

In [5]:
df.describe

<bound method NDFrame.describe of        DC024  DC025  DC205  DC206  DC207  DC208  DC209  DC210  DC211  DC212
0         11      2   16.0    1.0    0.0    1.0    0.0    0.0    0.0    0.0  \
1         11      2   31.0    1.0    0.0    1.0    0.0    0.0    1.0    0.0
2         11      2   12.0    1.0    0.0    1.0    1.0    1.0    1.0    0.0
3         11      2   12.0    1.0    0.0    0.0    0.0    0.0    1.0    0.0
4         11      2   12.0    1.0    0.0    1.0    1.0    0.0    0.0    0.0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
35968     94      1   17.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
35969     94      1   12.0    1.0    0.0    1.0    1.0    0.0    0.0    0.0
35970     94      1   12.0    1.0    0.0    1.0    1.0    0.0    1.0    0.0
35971     94      1   12.0    1.0    0.0    1.0    1.0    0.0    1.0    0.0
35972     94      1   12.0    1.0    0.0    1.0    1.0    0.0    1.0    1.0

       ...  DC237f  DC241  DC242  DC244  DC246  DC252  DC270a  DC109  DC142a
0      ...     0.0    1.0    0.0    0.0    0.0    2.0       1   12.0    60.0  \
1      ...     0.0    1.0    0.0    1.0    1.0    1.0       2   31.0    70.0
2      ...     0.0    1.0    0.0    1.0    1.0    0.0       4   11.0    75.0
3      ...     0.0    2.0    1.0    1.0    0.0    1.0       1   11.0    85.0
4      ...     0.0    1.0    0.0    0.0    1.0    0.0       2   11.0    65.0
...    ...     ...    ...    ...    ...    ...    ...     ...    ...     ...
35968  ...     0.0    3.0    0.0    0.0    0.0    0.0       1   21.0     9.0
35969  ...     0.0    1.0    1.0    0.0    0.0    0.0       2   11.0    12.0
35970  ...     0.0    1.0    1.0    0.0    1.0    1.0       1   11.0    48.0
35971  ...     0.0    1.0    1.0    0.0    0.0    0.0       2   11.0    39.0
35972  ...     0.0    1.0    0.0    0.0    0.0    0.0       3   11.0    40.0

       DC201
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
...      ...
35968    1.0
35969    1.0
35970    1.0
35971    1.0
35972    1.0

[35973 rows x 39 columns]>

In [6]:
df.head()

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,1.0
1,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,1.0
2,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,1.0
3,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,2.0,1.0,1.0,0.0,1.0,1,11.0,85.0,1.0
4,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,1.0

In [7]:
df.tail()

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
35968,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,1,21.0,9.0,1.0
35969,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,1.0
35970,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,1.0
35971,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,1.0
35972,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,1.0

In [8]:
# df.to_csv("MF.csv")

In [9]:
target_column = "DC201"

In [10]:
y_train = np.array(df[target_column]) # value dari label
df = df.drop(target_column, axis=1) # drop target
feature_list = list(df.columns) # list column
X_train = np.array(df) #

SMOTE

In [11]:
from imblearn.over_sampling import SMOTE
from sklearn.datasets import make_classification


# Melakukan oversampling dengan SMOTE
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

# Melihat jumlah sampel setelah oversampling
print("Jumlah sampel sebelum oversampling:", len(X_train))
print("Jumlah sampel setelah oversampling:", len(X_resampled))

Jumlah sampel sebelum oversampling: 35973
Jumlah sampel setelah oversampling: 64802

In [12]:
# # Use Seaborn to make a correlation matrix

# corr_matrix = df.corr()
# fig, ax = plt.subplots(figsize=(15,10))
# ax = sns.heatmap(corr_matrix,
#                 annot=True,
#                 linewidths=0.5,
#                 fmt=".2f",
#                 cmap="YlGnBu");

In [13]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_norm = scaler.fit_transform(X_resampled)

In [14]:
X_train_norm

array([[0.        , 1.        , 0.04761905, ..., 0.        , 0.01176471,
        0.06012024],
       [0.        , 1.        , 0.22619048, ..., 0.25      , 0.23529412,
        0.07014028],
       [0.        , 1.        , 0.        , ..., 0.75      , 0.        ,
        0.0751503 ],
       ...,
       [0.04890592, 0.01973045, 0.        , ..., 0.00493261, 0.        ,
        0.03206413],
       [0.07629345, 0.33235661, 0.03179254, ..., 0.08308915, 0.00785463,
        0.02137217],
       [0.78313253, 1.        , 0.22619048, ..., 0.0438167 , 0.23529412,
        0.07838363]])

In [15]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

TEST_SIZE = 0.2
RANDOM_SEED = 36

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_train_norm, y_resampled, test_size = TEST_SIZE, random_state = RANDOM_SEED)

In [16]:
from lightgbm import LGBMClassifier
import lightgbm.plotting as lgbm_plotting

model = LGBMClassifier(learning_rate=0.07, 
                       max_depth=20, 
                       random_state=40, 
                       num_leaves=100,
                       bagging_freq=1,
                       min_data_in_leaf=20,
                       feature_fraction =1)
model.fit(X_train, y_train, eval_set=[(X_test, y_test), (X_train, y_train)],
          verbose=22, eval_metric='l1')
print('Training accuracy {:.4f}'.format(model.score(X_train,y_train)))
print('Testing accuracy {:.4f}'.format(model.score(X_test,y_test)))
from sklearn.metrics import classification_report


print(classification_report(y_test,model.predict(X_test),digits=5))

c:\Users\asus\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightgbm\sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Warning] feature_fraction is set=1, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1
[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[22]	training's l1: 0.185958	training's binary_logloss: 0.228821	valid_0's l1: 0.189098	valid_0's binary_logloss: 0.234535
[44]	training's l1: 0.102949	training's binary_logloss: 0.13802	valid_0's l1: 0.107921	valid_0's binary_logloss: 0.148558
[66]	training's l1: 0.0759627	training's binary_logloss: 0.106979	valid_0's l1: 0.0832518	valid_0's binary_logloss: 0.124834
[88]	training's l1: 0.0650776	training's binary_logloss: 0.0908028	valid_0's l1: 0.0748963	valid_0's binary_logloss: 0.117583
Training accuracy 0.9682
Testing accuracy 0.9566
              precision    recall  f1-score   support

         0.0    0.97947   0.93236   0.95533      6446
         1.0    0.93612   0.98066   0.95787      6515

    accuracy                        0.95664     12961
   macro avg    0.95779   0.95651   0.95660     12961
weighted avg    0.95768   0.95664   0.95661     12961

In [17]:
# from lightgbm import LGBMClassifier
# import lightgbm.plotting as lgbm_plotting

# model = LGBMClassifier(learning_rate=0.07, 
#                        max_depth=26, 
#                        random_state=50, 
#                        num_leaves=100,
#                        bagging_freq=1,
#                        min_data_in_leaf=20,
#                        feature_fraction =1)
# model.fit(X_train, y_train, eval_set=[(X_test, y_test), (X_train, y_train)],
#           verbose=22, eval_metric='l1')
# print('Training accuracy {:.4f}'.format(model.score(X_train,y_train)))
# print('Testing accuracy {:.4f}'.format(model.score(X_test,y_test)))
# from sklearn.metrics import classification_report


# print(classification_report(y_test,model.predict(X_test),digits=5))

In [18]:
print('Training accuracy {:.4f}'.format(model.score(X_train,y_train)))
print('Testing accuracy {:.4f}'.format(model.score(X_test,y_test)))

Training accuracy 0.9682
Testing accuracy 0.9566

In [19]:
from sklearn.metrics import classification_report


print(classification_report(y_test,model.predict(X_test)))

              precision    recall  f1-score   support

         0.0       0.98      0.93      0.96      6446
         1.0       0.94      0.98      0.96      6515

    accuracy                           0.96     12961
   macro avg       0.96      0.96      0.96     12961
weighted avg       0.96      0.96      0.96     12961