In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('result-ANN-v4_0-7.csv')
df

          id        DC201
0      26718  Layak Minum
1      26802  Layak Minum
2      41302  Layak Minum
3      38698  Layak Minum
4      44257  Layak Minum
...      ...          ...
11985  36943  Layak Minum
11986  33415  Layak Minum
11987  41998  Layak Minum
11988  41567  Layak Minum
11989  45296  Layak Minum

[11990 rows x 2 columns]

In [5]:
df['DC201'].value_counts()

DC201
Layak Minum          10727
Tidak Layak Minum     1263
Name: count, dtype: int64